.about-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-image-content {
    display: flex;
    justify-content: space-between;
    padding:20px;
    gap:1rem;    
}

.about-image-content img {
    width:15rem;
    height:15rem;
    border-radius:50%;
    padding:10px;
}

.about-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:20px;   
}

.about-header-content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-header-content span {
    font-size: 1.5rem;
}