.contact-form-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 400px;
    box-sizing: border-box;
    padding:10px;
}

.contact-form-container span {
    font-size: 1rem;
}

.contact-text-container {
    display: flex;
    flex-direction: column;
}

.contact-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.contact-image-container{
    display: flex;
    width: 50%;
}

.contact-image-container img {
    width:100%;
}