

.footer-content{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 60%;
    justify-content: center;
    border-top: 1px solid grey;
    margin:auto;
    height: 140px;
    position: relative;
    margin-top: 10px;
}


.footer-content-ul{
    list-style-type:none !important;
}