.navbarContainer{
    background-color: rgb(237, 237, 237);
    display: flex;
    position: fixed;
    width: 100%;
    opacity: 999;
    height: 80px;
    right: 0;
    justify-content: space-between;
    align-items: center;
    color: black;
    box-sizing: border-box;
    padding: 10px;
}
.headerName{
    font-size: 30px;
    font-weight: bold;
}
.navHeader {
    display: flex;
    width: 5%;
    margin-left: 20px;
}

.navMenuContainer{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}

.navMenu {
    margin-left:5px;
    margin-right:5px;
    font-size: 18px;
}

.active-nav-menu {
    text-decoration: none;
    color:blue;
    margin-left:5px;
    margin-right:5px;
    font-size: 18px;
}

.navLoginContainer{
    display: flex;
    gap: 1rem;   
    justify-content: space-between;
    align-items: center;
}

.icon-container {
    display: flex;
    width:3rem;
    height:3rem
}
.icon-image {
    border-radius: 50%;
    width: 100%;
}